services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: gooty_development
      MYSQL_USER: gooty
      MYSQL_PASSWORD: password
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build: .
    command: sh -c "bundle config set --local without 'production' && bundle install --without production && rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
    ports:
      - "3002:3000"
    depends_on:
      - db
    environment:
      - RAILS_ENV=development
      - DATABASE_URL=mysql2://gooty:password@db:3306/gooty_development
      - BUNDLE_WITHOUT=production
      - GEMINI_API_KEY=AIzaSyBJJ-5oWWkh6F-DwN6RauqSZ3AWTFE7MH0

volumes:
  mysql_data:
